.ipynb_checkpoints/
Academic_Writing.ipynb
DCU_Assignment/
Life/
algorithm_python.ipynb
bak.bakgit/
bak/
datasets/
example/
hala_HandsOnML/
hala_pythonDataAnalysis/
imageRepo/
ml_algorithm.ipynb
myMLChecklist.ipynb
nb_template.ipynb
python_language.ipynb
pytthon_tool/

